.layout {
    height: 100vh !important;
}

.button-tooltip {
    /* display: none !important; */
}

.title-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: 200;
    margin-bottom: 15px;
}

td:hover {
    background-color: #f8f8f8 !important;
    cursor: pointer;
}

.page-contents {
    height: 100%;
    display: flex;
}

.sidebar {
    margin-top: 4px;
    display: block;
    max-height: 100vh;
    width: 280px;
    min-width: 280px;
    background-color: white;
    border-right: 1px solid #dee2e6;
    overflow: scroll;
}

.sidebar-handle {
    position: absolute;
    top: 0;
    left: 280px;
    display: flex;
    height: 100%;
    width: 0px;
    background-color: none;
    justify-content: center;
}

.sidebar-handle-line-outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15px;
    background-color: none;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    cursor: ew-resize;
    margin-top: 2px;
}


.sidebar-handle-line-inner {
    height: 100%;
    width: 1px;
    background-color: #dee2e6;
}

.sidebar-handle-line-outer:hover .sidebar-handle-line-inner {
    background-color: #0d6efd;
    width: 3px;
}

.agg-choices {
    width: 100%;
    display: flex;
    white-space: nowrap;
    justify-content: center;
}
.agg-choices .r-group {
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

.var-tabs {
    margin-top: 30px;
}

.accordion-body {
    padding: 0;
}
.accordion-button {
    background-color: white !important;
    font-weight: 500;
    color: black !important;
}
.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    border: none !important;
}

.tab-options {
    margin: 10px 20px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.tab-option {
    /* height: 50px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    /* margin-left: 20px; */
    background-color: white !important;
    color: black !important;
    border: none;
    padding: 0;
}

.tab-option p {
    margin: 0;
}

.tab-option i {
    visibility: hidden;
}

.tab-option:hover i {
    visibility: visible;
    color: #bdbdbd;
}

.tab-options .slider {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    font-weight: bold;
    color: #0d6efd;
}

.slider p {
    width: 15px;
}

.selection-display {
    display: inline-flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    font-size: 0.9em;
    /* border-top: 1px solid #dee2e6; */
}

.selection-display i {
    color: #757575;
    padding-top: 6px;
    padding-right: 10px;
}

.selection-display-label {
    color: #757575;
}

.selection-display-value {
    color: #757575;
    margin: 0;
    padding: 0;
}

#var-2-table {
    max-height: 100vh;
}

.main-content {
    width: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #0d6efd;
}

.header {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 30px;
}

.title {
    padding: 0;
    margin: 0;
}

.main-controls-parent {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.main-controls-box {
    width: 100%;
    display: flex;
    column-gap: 40px;
    padding-bottom: 0px;
}

.vertical-divider-left {
    width: 5px;
    background: linear-gradient(#c4c4c4, #c4c4c4) no-repeat center/.5px 100%;
}

.main-controls-box label {
    /* font-size: 0.9em; */
}
.main-controls-box .main-label {
    /* -webkit-text-stroke: 1px; */
    font-weight: 500;
    margin-bottom: 5px;
    /* margin-left: -15px; */
}

.main-controls-box .sub-label {
    font-size: 0.9em;
    color: #757575;
}

.switches-boxes {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    /* flex-wrap: wrap; */
}

.switches-input {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100px;
    margin-top: 2px;
}

.switches-input label {
    font-size: 1em;
    color: black;
}

.tooltip-section {
    display: flex;
    flex-direction: column;
}


.tooltip-boxes {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
}

.tooltip-box {
    min-width: 300px;
    max-width: 600px;
}

.download-container {
    align-self: end;
    margin-right: 30px;
}

.download-button {
    background-color: white !important;
    color: #0d6efd !important;
    font-size: 1.3em;
}
.download-button:not(:hover) {
    border-color: white;
}

.form-check.form-switch {
    font-size: 0.9em;
}

.year {
    width: 100px;
    display: block;
    margin-left: 20px;
    margin-top: 30px;
}
.year label {
    font-size: 0.9em;
    color: #757575;
}

.year-dropdown {
}

.v-divider {
    width: 10px;
    background: linear-gradient(#858585, #858585) no-repeat center/.5px 100%;
}

.mark-scale {
    width: 100px;
}
.mark-scale-input {
    width: 100px;
    height: 35px;
    border: none;
    border-bottom: 2px solid #c6c6c6;
}

.mark-scale-input:focus {
    border-bottom: 2px solid #0d6efd !important;
}

.hide-header {
    min-width: 100% !important;
    margin-left: -30px;
    height: 15px;
}

button:focus {
    box-shadow: none !important;
}


.hide-header-btn {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.1em;
    border-bottom: 2px solid #dee2e6;
}

.hide-header-btn:hover {
    -webkit-text-stroke: 2px;
    color: #0d6efd;
    background-color: white;
    border-bottom: 3px solid #0d6efd;
}

.map-box {
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.show-header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    margin: 0;
    visibility: hidden;
}

.show-header-btn {
    min-width: 100%;
    margin: 0;
    width: 100%;
    border: none;
    font-size: 1.1em;
    -webkit-text-stroke: 1.5px;
    border-top: 3px solid #0d6efd;
    padding-top: 0;
}
.show-header-btn:hover {
    background: none;
    color: #0d6efd;
    border-top: 6px solid #0d6efd;

}

.VirtualizedSelectOption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.radio-group .form-check {
    padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
